{% extends 'layout.html' %}

{% block konten %}
    <table border="1">
        <tr>
            <th>nama_komputer</th>
            <th>cpu_komputer</th>
            <th>rom_komputer</th>
            <th>OPSI</th> 
        </tr>

        {% for result in data %}
        <tr>
            <td>{{ result[1] }}</td>
            <td>{{ result[2] }}</td>
            <td>{{ result[3] }}</td>
            <td> <a href="/update/{{ result[0] }}">UPDATE</a> - <a href="/hapus/{{ result[0] }}">DELETE</a> </td>
        </tr>
        {% endfor %}


    </table>
{% endblock %}